@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
  --main-bg-color: #0000ffbf;

}
*{
    margin : 0;
    padding : 0;

}
header{
    background-color: var(--main-bg-color);
    color : red;
    border: 2px solid black;
    font-family: 'Lato', sans-serif;
}
nav{
    display : flex;
    

}
.logo{
    display : flex;
    align-items : center;

}
.logo img{
    
    width : 85px;
    padding : 0 23px;
}
nav ul{
    display : flex;
    justify-content : flex-start;
    height: 58px;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    padding : 0 8px;
}
nav ul li a{
    text-decoration : none;
    color : white;

}
nav ul li a:hover{
    color : black;
    font-weight : bolder;
}
.search{
    display : flex;
    align-items : center;
    margin :0 30px;

}
.search input{
    width: 30vw;
    height: 35px;
    border-radius: 4px;
    border: none;
    padding: 0 15px;
}
.btn{
    margin-left: 10px;
    height: 25px;
    width: 70px;
    color : black;
    cursor : pointer;

}
.btn:hover{
    
    font-weight : bold;
}
.Container{
    
    height : 100%;

}
.Slider{
    width: 80vw;
    margin: 12px auto;
}

.Slider img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}
.card{
       display: flex;
    gap: 20px;
    overflow-x: auto; /* Horizontal scrollbar */
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
    

}

.card h2{
    width: 100%;
    margin: 12px 0;
    display: flex;
    font-family: 'Lato', sans-serif;
}

.card-items{
   min-width: 200px; /* Card ki width */
    height: 250px;
    border: 1px solid #ccc;
    flex-shrink: 0; /* Card chhote nahi honge */
    text-align: center;
}
.footer{
    background-color: #172337;
    color: white;
    padding: 40px 0 20px;
    margin-top: 40px;
}

.footer-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-column{
    display: flex;
    flex-direction: column;
}

.footer-column h3{
    color: #878787;
    margin-bottom: 15px;
    font-size: 14px;
}

.footer-column a{
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-column a:hover{
    text-decoration: underline;
}

.address p{
    font-size: 14px;
    line-height: 1.5;
}

hr{
    border: 0;
    height: 1px;
    background: #454d5e;
    margin: 25px 0;
}

.footer-bottom{
    text-align: center;
    font-size: 14px;
}